<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

    <h1> <%= "Team Name: " + @team_name.to_s %> </h1>
    <h2> <%= "Coach: " + @coach.to_s %> </h2>
    <h2> <%= "Point Guard: " + @pg.to_s %> </h2>
    <h2> <%= "Shooting Guard: " + @sg.to_s %> </h2>
    <h2> <%= "Small Forward: " + @sf.to_s %> </h2>
    <h2> <%= "Power Forward: " + @pf.to_s %> </h2>
    <h2> <%= "Center: " + @c.to_s %> </h2>

 </body>
</html>


